#header,#header2{
    display:flex;
    justify-content:space-between;
    gap:10px;
    color:white;
}
#fullname,#email,#password,#confirm-password{
    width:100%;
    margin:5px;
}
#main{
    padding:50px 150px;
}
body{
    background-color:black;
}
#header1{
    color:white;
}
#error-message,#error-message1{
    color:red;
}
#error-message2{
    color:green;
}
#color{
    color:white;
}
#main1{
display:none;
padding:50px 150px;
}
@media screen and (min-width:320px) and (max-width:480px){
    #color{
        font-size:15px;
    }

#main{
    padding:50px 30px;
}
#main1{
    padding:50px 30px;
    }
    body{
        background-color:green;
    }
}
@media screen and (min-width:481px) and (max-width:768px){
    body{
        background-color:orange;
    }
}